$darkcolor: #bc865c;


*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $darkcolor;
}


.menu-container {
	position: absolute;
	top: 3vh;
	right: 3vw;
}








